<html>

  <head>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
      <style>
      body
      {
        background-color: skyblue;
      }
      </style>
  </head>

<body>
        <h1>Participants</h1>
        <h2>Class 1-4 </h2>
        <ol><% data.forEach(function(participant){ %>
          <li><%= participant.firstName + ' ' + participant.lastName + '--- Events: ' + participant.events %> </li>

        <% }); %>
      </ol>



</body>

</html>
